/* CSS Styles */
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.2em;
}

#wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
}

h1, h4 {
  margin-bottom: 1em;
}

p{
 margin-top: 1em;

}

 h2, h3, h4 {
  font-weight: bold;
}

 h1 img{
   max-width: 60%;


 }

h2{
  color:#660708;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1em;
}

h3{
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1em;

}


header, .search-programs, footer {
  margin-bottom: 2em;
}

.site-header {
  display: flex;
  justify-content: space-between;
}

nav {
  text-align: center;
  color:white;
}

.nav-menu {
  display: none;
  position: absolute;
  right: 1em;

}

.toggle-menu {
  background-color: transparent;
  border: none;
}


.search-programs {
  min-height: 8em;
  border: solid 1px #ccc;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1em;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.search-programs li {
  display: inline-block;
  margin-right: 2em;
  width: 350px;
}

.dropdown {
  padding: 0;
  position: absolute;
  display: none;
  z-index: 100;
}

.dropdown li {
  display: block;
  margin-right: 0em;
}

.search-programs li:hover .dropdown {
  display: block;

}


.search-programs li:hover img{
  transform: rotate(180deg);

}

.search-programs li img {
  float: right;
  width: 15px;
  transition: transform .3s ease-in;
}

.search-programs ul {
  padding: 0;
  list-style-type: none;
}

.search-programs a {
  border-radius: 40px;
  display: block;
  padding: 1em;
  background-color: #660708;
  border-bottom: solid 1px #b1a7a6;
  color: white;
  text-decoration: none;
}

.search-programs li li a {
  background-color: #161a1d;
  color: white;
}

.search-programs a:hover {
  background-color: #a4161a;
}

.search-programs li ul {
  display: none;
}

.search-programs li:hover ul {
  display: block;
}



#search-go{
  background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: 'roboto';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}


.go-button{
  background-color: #660708;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius:6px;
   color: #fff;
   font-family: 'roboto';
   font-size: 20px;
   text-decoration: none;
   cursor: pointer;
   border:none;

}

.go-button:hover{
  background-color: #a4161a;
}

.apply-button{
  background-color: #660708;
  border:none;
  border-radius: 40px;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 font-size: 16px;
 position: absolute;
 bottom: 20px;
 left:20px;

}

.apply-button:hover{
  background-color: #a4161a;
}


#menu {
  display: none;
  background-color: #161a1d;
  border-radius: 40px;
  padding: 1.5em;
}

.menubar {
  padding: 0;
  list-style-type: none;

}

.menubar a {
  font-weight: bold;
  color: white;
  display: block;
  text-decoration: none;
  padding: 0.5em 0;
  border-bottom: solid 1px gray;
}

.menubar a:hover{
  color:#a4161a;

}

/*cards page*/

.programs{
  display:grid;
  grid-template-columns: repeat( auto-fill, minmax(320px, 1fr));
  grid-template-rows: auto auto;
  grid-column-gap:2rem;
  grid-row-gap:2rem;
  font-family:sans-serif;
}

.card-link{
  color:black;
  text-decoration:none;
}
.card{
  border:solid 1px #ccc;
  border-radius: 10px;
  overflow:hidden;
  transition:
    transform .5s ease,
    box-shadow .5s ease;
  height:100%
}

.card img{
  width:100%;
}

.card-body{
    padding:1em;
    font-family: sans-serif;
    line-height:1.5em;
}

.card h2, .card h3, .card h4{
    margin:0;
    line-height:1.7em;
}

.card h3{
  text-transform:uppercase;
  font-size:1em;
}

.card:hover{
    transform: translate(0px, -5px);
    box-shadow: 0px 5px 30px #999;
}



/*end of the cards content*/

footer{
  clear: both;
  margin-top: 2em;
}





@media (min-width:768px) {
  .toggle-menu {
    display: none;
  }

  .nav-menu {
    display: flex;
  }

  .nav-menu li {
    display: inline;
    margin-right: 2em;
  }


  #menu {
    display: flex;
    position: static;
    background-color: transparent;
  }



  .menubar li {
    display: inline-block;
  }

  .menubar a {
    border: none;
    color: #660708;
    font-weight: bold;
    text-decoration: none;
    padding: 0 1em;
  }



  .search-programs li {
    display: inline-block;
    min-width: 12em;
  }

  .search-programs li li {
    display: block;
    margin-right: 2em;
  }

  .search-programs li ul {
    position: absolute;
  }


}/*closing @media query*/
