body{
  font-family: 'Roboto', sans-serif;
  line-height: 1.2em;

}

#wrapper{
  max-width: 1200px;
  margin: 0 auto; /*first value for top/bottom, second valuefor left/right*/
}

header{
background: url("images/kipo.jpg") no-repeat  center;
}

p{
  margin-bottom: 3em;
   letter-spacing: 0.9px;

}

h1 img{
 max-width: 100%;
 position: relative;
 top: 55px;

}

header button{
  background-color: transparent;
  background-image: url("images/play_arrow.gif");
  background-repeat: no-repeat;
  background-position: left;
  color: white;
  stroke: white;
  display: block;
	border: 4px  solid white;
	padding: 10px;
  padding-left: 25px;
  text-transform: uppercase;
	cursor: pointer;
  border-radius: 5px;
	font-size: 20px;
	margin:4px 0;
  position: relative;
  left: 1030px;
  bottom: 20px;
  transition-duration: 0.5s;

}

header button:hover {
  background-color: #32BCDA; /*#D8BFD8;*/
  color: white;
}

nav{
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.5214460784313726) 0%, rgba(255,255,255,0) 100%);
  padding: 12px;


}

nav a{
  text-decoration:none;
  color: #fff;
}

nav a:hover{
color: #32BCDA;
}


nav li{
  display: inline;
  padding: 0 1.5em;

}
 nav ul{
   text-align: center;
 }


 .col{
  width: 48%;
}
 .col-left{
   float:left;
 }

 .col-right{
   float:right;
 }

 footer{
   clear: both;
 }

 h2{
   font-size: 1.3em;
  padding-top: 1.5em;
   text-transform: uppercase;
   font-weight: bold;
   margin-bottom: 0.5em;

}

h3{
  font-weight: bold;
}

.tv-y7{
  border: solid 1px #000;
  padding: 0 3px;
  font-size: smaller;
}

main{
  margin-bottom: 3em;
  overflow: auto;
}
